.owl-controls .owl-pagination .owl-page.active, .owl-controls .owl-pagination .owl-page.active:hover {
    background-color: #F58220;
    border-color: #F58220;
}

.owl-controls .owl-pagination .owl-page, .owl-controls .owl-pagination .owl-page:hover {
    background-color: #22864C;
    border-color: #22864C;
}

#carouselmarcas .owl-controls .owl-pagination .owl-page {
    display:none;
    
}

#carouselcategorias .owl-item .item {
    margin-left: 1em;
    margin-right: 1em;
}

.owl-prev {
    margin-left: -6%;
}
.owl-next {
    margin-right: -6%;
}


.fullbanner .owl-controls .owl-pagination .owl-page {
    margin-top:4em; 
    
}




