/* /files/checkout5-custom.css */


#logo-carajas{
    width: 200px;
    height: auto;
  }

  .table thead:first-child tr:first-child th{
    font-weight: 200;
  color: #278950;
  font-size: 25px;
}

.icon-plus-sign, .icon-minus-sign, .icon-remove  {
    color: #278950
}

.link-coupon-add span {
    color: #BDBDBD !important;
}

.full-cart .summary-totalizers tr{
    font-size: 16px;
    color: #4F4F4F;
}

.full-cart .summary-totalizers .info, .full-cart .summary-totalizers .monetary{
    font-size: 16px;
    color: #227346 !important;
}
.srp-main-title  {
    color: #333 !important;
    font-weight: 300;
}
  #cart-title{
    display: none !important;
  }
  
  .cart, .step, .step.active{
    border: 1px solid #808080;
    border-top: solid 4px #278950;
    border-radius: 10px;
  }

  .cart-template.mini-cart {
      border-radius: 0px;
  }

  
  a, span {
    color: #4F4F4F;
  }
  .btn-place-order {
    font-size: 23px;
    font-weight: 200;
    text-transform: uppercase;
    background-color: #F58220 !important;
    text-shadow: none !important;
    background-image: none !important;
    border-color: transparent !important;
}
  #btn-client-pre-email {
    font-size: 23px;
    font-weight: 200;
    text-transform: uppercase;
    background-color: #F58220 !important;
    text-shadow: none !important;
    background-image: none !important;
    border-color: transparent !important;
  }

  p.submit {
      text-align: center;
  }

  button.btn.btn-large, input[type="submit"].btn.btn-large {
    font-size: 12px;
    /* text-align: center; */
    font-weight: 200;
    text-transform: uppercase;
    background-color: #F58220 !important;
    text-shadow: none !important;
    background-image: none !important;
    border-color: transparent !important;
  }
  #btn-client-pre-email span{
      color: white !important;
  }

  .step .text input {
    border: solid 1px #278950;
    background-color: #F2F2F2;
  }
  .step .text label, .step .select label {
      color: #4F4F4F;
  }
  .accordion-toggle i, #orderform-title {
    display: none !important;
  }
  .accordion-toggle span, .accordion-heading .accordion-toggle{
    font-family: "Nunito" !important;
    color:#278950;
  }


  .mini-cart h2{
    font-family: "Nunito" !important;
    color: #278950;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    border-top: solid 4px #278950;
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;
    border-radius: 0px;
    padding-top: 1em;
  }

  .mini-cart .cart {
    border-left: 1px solid #BDBDBD;
    border-right: 1px solid #BDBDBD;     
    border-radius: 0px;

  }

  .mini-cart .item{
      border: none !important;
  }

  .mini-cart .summary-template-holder {
    background: #227346;
    border-radius: 0px;
    border:none
  }

  #orderform-minicart-to-cart, .mini-cart .table tfoot td {
    text-shadow: none;
    color: white;
    font-weight: 400;
  }
  .description, .mini-cart .item .fn{
    font-family: "Nunito";
    color: #4F4F4F;
    font-weight: bold;
  }



  #tracker {
    margin-bottom: 2em;
    margin-top: -1em;
    text-align: center;
}
  
  @media (max-width: 1800px) {
    #logo-carajas{
      width: 10em;
    }
    .table thead:first-child tr:first-child th{
      font-size: 20px;
    }

    .btn-place-order {
        font-size: 15px;
    }

    #tracker img {
        max-width: 80%
    }
  }