.flag {
  color: transparent;
}

#alignElement .flag {
  width: 183px;
}



/*CBYK ONNE*/

.flag .smartphones-frete-gratis-brasil--01-02-2021 {
  background-image: url("https://carajas.vteximg.com.br/arquivos/flag-frete-gratis--brasil.gif");
  background-repeat: no-repeat;
  background-position:  center;
  background-size: contain;
}


#alignElement .smartphones-frete-gratis-brasil--01-02-2021{
  background-image: url(https://carajas.vteximg.com.br/arquivos/flag-frete-gratis--brasil.gif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
}




.flag .arcondicionado-frete-gratis-al-pb-rn-ce-01-02-2021 {
  background-image: url("https://carajas.vteximg.com.br/arquivos/flag-frete-gratis--al-pb-ce-rn.gif");
  background-repeat: no-repeat;
  background-position:  center;
  background-size: contain;
}


#alignElement .arcondicionado-frete-gratis-al-pb-rn-ce-01-02-2021{
  background-image: url(https://carajas.vteximg.com.br/arquivos/flag-frete-gratis--al-pb-ce-rn.gif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
}






.flag .torneiras-frete-gratis-brasil-01-02-2021 {
  background-image: url("https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-199.gif");
  background-repeat: no-repeat;
  background-position:  center;
  background-size: contain;
}


#alignElement .torneiras-frete-gratis-brasil-01-02-2021{
  background-image: url(https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-199.gif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
  
}

.flag .aparelho-de-jantar-frete-gratis-brasil-01-02-2021 {
  background-image: url("https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-199.gif");
  background-repeat: no-repeat;
  background-position:  center;
  background-size: contain;
}


#alignElement .aparelho-de-jantar-frete-gratis-brasil-01-02-2021{
  background-image: url(https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-199.gif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
  
}

.flag .cabos-frete-gratis-brasil-01-02-2021 {
  background-image: url("https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-199.gif");
  background-repeat: no-repeat;
  background-position:  center;
  background-size: contain;
}


#alignElement .cabos-frete-gratis-brasil-01-02-2021{
  background-image: url(https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-199.gif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
  
}


.flag .iluminacao-frete-gratis-brasil-01-02-2021 {
  background-image: url("https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-199.gif");
  background-repeat: no-repeat;
  background-position:  center;
  background-size: contain;
}


#alignElement .iluminacao-frete-gratis-brasil-01-02-2021{
  background-image: url(https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-199.gif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
  
}






.flag .audio-frete-gratis-brasil-01-02-2021 {
  background-image: url("https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-299.gif");
  background-repeat: no-repeat;
  background-position:  center;
  background-size: contain;
}


#alignElement .audio-frete-gratis-brasil-01-02-2021{
  background-image: url(https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-299.gif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
  
}

.flag .furadeira-frete-gratis-brasil-01-02-2021 {
  background-image: url("https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-299.gif");
  background-repeat: no-repeat;
  background-position:  center;
  background-size: contain;
}


#alignElement .furadeira-frete-gratis-brasil-01-02-2021{
  background-image: url(https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-299.gif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
  
}


.flag .eletrinho-frete-gratis-brasil-01-02-2021 {
  background-image: url("https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-299.gif");
  background-repeat: no-repeat;
  background-position:  center;
  background-size: contain;
}


#alignElement .eletrinho-frete-gratis-brasil-01-02-2021{
  background-image: url(https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-299.gif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
  
}


.flag .ventiladordeteto-frete-gratis-brasil-01-02-2021 {
  background-image: url("https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-299.gif");
  background-repeat: no-repeat;
  background-position:  center;
  background-size: contain;
}


#alignElement .ventiladordeteto-frete-gratis-brasil-01-02-2021{
  background-image: url(https://carajas.vteximg.com.br/arquivos/flag-frete-gratis-brasil--a-partir-de-299.gif);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
  
}


