#newsletter {
    height: 11em;
    display: flex;
    align-items: center;
}

#newstext {
    color: white
}

#newsform #emailform {
    width: 68%;
    height: 3.5em;
    font-size: 20px;
    padding-left: 1em;
}

#newsform #commit {
    margin-left: 4em;
    width: 18%;
    background-color: #F58220;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    height: 3.5em;
}

.social-media .social-icons li a img {
    max-width: 80%;
}

.footer {
    line-height: 1.8em;
    background-color: #E0E0E0;
    margin-top: 0;
}

.copy-right {
    background-color: #E0E0E0;
}

.footer .col-social #cbyk {
    width: 5em;
}

.footer .col-social #vtex-logo-footer {
    width: 5.9em;
}

@media screen and (max-width: 1850px) {
    #newsform #emailform {
        width: 67%;
    }
    #newsform #commit {
        width: 22%;
    }
}

.social-icons-mobile {
    text-align: center;
}

.social-icons-mobile li {
    display: inline-block
}

.col-atendimento-mob {
    border-bottom: none !important;
    padding-bottom: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.dropbuttom .dropdown-btn {
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    color: white;
    background-color: #227346 !important;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    outline: none !important;
}

.dropbuttom button i {
    color: #F58220;
    padding-left: 35%;
    font-size: 20px;
    font-weight: bold;
}

.dropbuttom #suporte i {
    padding-left: 10em;
}

.dropdown-container#institucional, .dropdown-container#suporte {
    background-color: white;
    padding: 8px;
}

.dropdown-container#institucional a, .dropdown-container#suporte a {
    display: block !important;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

#newstext h3 {
    font-size: 20px;
    font-family: sans-serif;
}

@media (max-width: 600px) {
    #cbyk {
        margin-bottom: 3em;
    }
    #newstext h3 {
        font-size: 1.3em;
    }
    #newsform #emailform {
        width: 100%;
    }
    #newsform #commit {
        width: 100%;
        margin-left: 0;
        margin-top: 1em;
    }
    .col-pague-com {
        margin-top: -12em;
    }
    .footer .container-fluid .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media (min-width: 1800px) {
    #newsform #commit {
        margin-left: 3em;
        height: 2.3em;
        font-size: 23px;
        width: 9.5em;
    }
    #newsform #emailform {
        height: 2.4em;
    }
    #newstext h3 {
        font-size: 33px;
    }
}