.fullbanner .owl-controls .owl-buttons .owl-prev, .fullbanner .owl-controls .owl-buttons .owl-next{
    display: none;
}

#propostascomerciais{
    margin-top: 3em;
}

.remove-spaceowl {
    width: 140px !important;
}

.collection-title{
    margin-bottom: 2em;
}

.collection-title h2 {
    font-size: 40px;
    color: #227346;
    font-weight: 700;
}

.box-banner a img {
    max-width: 100%;
    height: auto;
}

.our-categories .content .card {
    text-align: center;
}

.owl-item .item .card {
    background-color: #F2F2F2;
    border-radius: 20px;
    text-align: center;
    padding: 4%;
}

.prateleira .box-item {
    height: 31em !important;
}

.card:hover {
    background-color: #F2F2F2 !important;
    -webkit-transition: #F2F2F2 1000ms linear;
    -ms-transition: #F2F2F2 1000ms linear;
    transition:#F2F2F2  1000ms linear;
}

.card-title {
    text-align: center;
    padding-top: 0.5em;
    color: #757575;
    font-size: 20px;
    line-height: 1.4em;
}

h2.section-title {
    width: 100%; 
    text-align: center; 
    border-bottom: 7px solid #227346; 
    line-height: 0;
    margin: 50px 0 20px; 
    margin-bottom: 2em;
 } 
 
 h2.section-title span { 
     background:#fff; 
     padding:0 10px; 
 }

 .our-departments .background-container {
     background-repeat: no-repeat !important;
     background-size: contain;
     background-position: center center;
 }

.background-container .content .card {
    text-align: center;
    padding: 14px;
    margin: 0.5em;
    /* Background in Card:
    background-color: #F2F2F2; */
    width: 32%;
    display: inline-block;
}

.showcase-default h2 {
    color: #227346 !important;
    font-weight: 700 !important;
    font-size: 1.7em !important;
}

#titulofiliais {
    padding-top: 15px;
    font-size: 15px;
    text-align: center;
    color: #000;
}   

#titulocategorias {
    padding-top: 15px;
    padding-right: 5px;
    font-size: 14px !important;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.card-title h4 {
    font-size: 14px !important;
    color: #000;
    font-weight: bold;
   }

/* ## Itens Desalinhados ##

#carouselmarcas .owl-item:nth-child(odd)
{
    margin-top: 4.5em;
} */

.card-title h4 {
    font-size: 14px !important;
    color: #000;
    font-weight: bold;
}

.our-categories .content .card a img{
    margin: auto;
}

@media (max-width: 1600px)  {

    .collection-title h2 {
        font-size: 1.7em;
    }
}

@media (max-width: 500px)  {
    h2.section-title {
    width: 100%;
    text-align: center;
    border-bottom: 7px solid #227346;
    line-height: 1em;
    margin: 10px 0 20px;
     margin-bottom: 0;
    }

    .collection-title h2 {
        font-size: 1.7em;
    }
    #carouselmarcas .owl-item {
        margin-top: 0 !important;
    }

    .our-departments {
        display: none;
    }
}

@media (max-width: 600px)  {
    
    .owl-carousel .owl-controls .owl-pagination .owl-page{
        display: none !important;
    }
    .owl-prev, .owl-next {
        display:none
    }

    .prateleira .box-item {
        height: 29em !important;
    }

    .background-container .content .card{
        text-align: center;
    padding: 3px !important;
     margin: 0em !important; 
    width: 50%;
    }
}