.prateleira .box-item:hover img {
    opacity: 1;
}

.product-image::after {
    content: none !important;
    background: none !important;
}

.prateleira .btn-add-buy-button-asynchronous .fa, .compare input {
    display: none;
}

.prateleira .btn-add-buy-button-asynchronous {
    border-radius: 5px;
    background-color: #F58220 !important;
    font-size: 20px;
    font-weight: 200;
    width: 80%;
    margin-top: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.prateleira .product-name a {
    font-size: 16px !important;
    color: black !important;
    font-family: Calibri, sans-serif !important;
    text-transform: uppercase;
}

.upper-side {
    border: solid 1px #BDBDBD;
    border-bottom: none;
    border-top: solid 4px #227346;
}

.green-part {
    background-color: #227346;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.prateleira .price a, .prateleira .price .best-price {
    color: #F2F2F2 !important;
}

.prateleira .price .best-price {
    font-size: 20px;
    padding-bottom: 8px;
    font-weight: 200;
}

.prateleira .price .installment {
    font-size: 11px;
}

@media (max-width: 600px) {
    .prateleira .price .best-price {
        font-size: 28px;
    font-weight: 200;
    }
    .prateleira .btn-add-buy-button-asynchronous {
        font-size: 23px;
        padding-top: 18px;
        padding-bottom: 18px;
        width: 75%;
    }
}


@media (max-width: 1400px) {
    .prateleira .btn-add-buy-button-asynchronous {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}