.prateleira .box-item {
    height: 32em;
}

.prateleira .box-item:hover img {
    opacity: 1;
}

.prateleira .product-image img {
    max-width: 136px !important;
}

.product-image::after {
    content: none !important;
    background: none !important;
}

.prateleira .btn-add-buy-button-asynchronous .fa, .compare input {
    display: none;
}
.prateleira .product-name {
    min-height: 60px !important;
}

.prateleira .btn-add-buy-button-asynchronous {
    border-radius: 5px;
    background-color: #F58220 !important;
    font-size: 20px;
    width: 80%;
    margin-top: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.prateleira .product-name a {
    font-size: 16px !important;
    color: black !important;
    font-family: Calibri, sans-serif !important;
    text-transform: uppercase;
    line-height: 17px;
}

.upper-side {
    border: solid 1px #BDBDBD;
    border-bottom: none;
    border-top: solid 4px #227346;
}

.green-part {
    background-color: #227346;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.prateleira .price a, .prateleira .price .best-price {
    color: #F2F2F2 !important;
}

.prateleira .price .best-price {
    font-size: 20px;
    padding-bottom: 8px;
    font-weight: 200;
}

.prateleira .price .installment {
    font-size: 11px;
}








@media (max-width: 800px) {
    .prateleira .box-item {
        height: 32em;
    }
}

